body {
  margin: 0;
  padding: 0;
  background-color: rgb(21, 79, 79);
  text-align: center;
}


.image {
height: 600px;
width: 100%;
object-fit: cover;
}




#picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right:auto;
}

.intro {
  text-align: center;
  font-size: 70px;
  color: rgb(72, 252, 252);

}

 .intro-1 {
  font-size: 45px;
  text-align: center;
  color: rgb(72, 255, 255);
  

}

.pro {
  text-decoration: underline black;
}

/*this sets the underline and also space between the underline and text*/
.dev-1, .dev-2 {
  font-size: 60px;
  text-decoration: underline black;
  text-underline-offset: 0.3em;
   
}

.div1 {
 margin-top: 200px;
}

.dev-1 {
  color: white;
}

.dev-2 {
  margin-top: 200px;
  color: white;
}

#picture2 {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  float: left;
  margin-left: 180px;
  margin-top: 220px;
}

/*this on the paragraph helps keep the paragraph from moving out of place*/
p {
margin-left: auto;
margin-right: auto;
width: 150px;
color: white;
font-size: 20px;
}

.skills {
margin-right: 10px;

}

.picture3 {
margin: 0;
}

.design {
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
  color:rgb(72, 255, 255);
  font-size: 40px;
  font-weight: bold;
}



.robot {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  float: left;
  margin-left: 180px;
  margin-top: -250px;
}

.bottom {
  margin-top: 300px;
  font-size: 25px;
  text-align: center;
  color: rgb(72, 255, 255);
}

button {
  border: none;
  background-color: white;
  border-radius: 4px;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  cursor: pointer;
}

#lower {
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}


  footer {
    text-align: center;
   background-color: black;
   color: white;
   padding: 20px;
   height: 100px;
   margin-top: 50px;
  }

  a {
    text-decoration: none;
    font-size: 19px;
    color: white;
    line-height: 1em;
    padding: 120;
    display: inline-block;
  }

  .a1 {
    margin-right: 200px;
  }

  .a2 {
    margin-right: 200px;
  }

  .size {
    font-size: 15px;
    margin-top: 60px;
  }
  
  @media(max-width: 600px) {

  }
 







